.topic {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(6, 94, 57);
  font-size: 20px;
  color: white;
  font-weight: bolder;
  border-radius: 5px 5px 0 0;
  font-family: zen loop, cursive;
}

.inputContainer {
  border: none;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
  width: 50%;
  padding: 7px;
  margin-top: 30px;
  font-family: zen loop, cursive;
}

.todoContainer {
  background-color: #f8f8f8;
  border-radius: 0 0 10px 10px;
  margin-top: 50px;
  min-height: 300px;
}

.todoContainer button {
  border-radius: 0 5px 5px 0;
  border: 3px solid rgb(6, 94, 57);
  height: 35px;
  background-color: white;
  color: rgb(6, 94, 57);
  font-weight: bolder;
}
.todoContainer .editButton {
  border-radius: 5px;
  border: 3px solid rgb(6, 94, 57);
  height: 35px;
  background-color: white;
  color: rgb(6, 94, 57);
  font-weight: bolder;
}

.listContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.listContainer ul li {
  list-style: none;
  border: none;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
  width: 320px;
  height: 35px;
  background-color: rgb(6, 94, 57);
  color: #fff;
  border-radius: 5px 0 0 5px;
  text-align: center;
  font-family: zen loop, cursive;
}

@media (max-width: 610px) {
  .inputContainer {
    width: 300px;
  }
}

@media (max-width: 360px) {
  .inputContainer {
    width: 250px;
  }
}

@media (max-width: 900px) {
  .listContainer ul li {
    width: 300px;
  }
}
@media (max-width: 750px) {
  .listContainer ul li {
    width: 200px;
  }
}
